.cards {
  background-color: var(--gray-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 3rem;
  border-radius: 0 0 1rem 1rem;
}
