.word_row {
  background-color: var(--gray-pale);
  width: 100%;
}

.word_row td {
  padding: 0.7rem 2rem;
}

.word_row td:nth-child(1) {
  font-weight: 600;
  font-size: 1.5rem;
  width: 25%;
}

.word_row td:nth-child(2) {
  font-size: 1.5rem;
  width: 25%;
}

.word_row td:nth-child(3) {
  width: 50%;
}

.link_name {
  color: var(--purple);
}

.tag1 {
  border-radius: 40px;
  background-color: pink;
  width: 35px;
  height: 25px;
}
.tag2 {
  border-radius: 40px;
  background-color: lightyellow;
  width: 40px;
  height: 30px;
  position: absolute;
}
.tag3 {
  border-radius: 40px;
  background-color: lightgreen;
  width: 40px;
  height: 30px;
  position: absolute;
}
.fa-solid {
  margin: 0.7rem;
  padding-left: 0.5rem;
}
.all_tags {
  display: flex;
  gap: 1.5rem;
}

.radio_style {
  background-color: yellow;
  cursor: pointer;
}

/* take away dots radio battons */
[type="radio"] {
  width: 0;
}

.checkbox {
  background-color: var(--gray-dark);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  color: white;
}

.checked {
  background-color: #000;
}
