.category {
  background-color: white;
  height: 3rem;
  border: 1px solid var(--gray-mid);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.category_name {
  flex-basis: 8rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  gap: 5px;
  padding: 0 8px;
  font-size: large;
}

.category_words {
  flex-basis: 1.5rem;
}

a {
  color: white;
}
