.category {
  background-color: white;
  height: 3rem;
  border: 1px solid var(--gray-mid);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.category_name {
  width: 16rem;
  height: 100%;
  display: flex;
}

.category_name h3 {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5rem;
  background-color: var(--purple);
  color: white;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

.number_of_words {
  width: 5rem;
  display: flex;
  justify-content: center;
}
