.header {
  height: 5rem;
  background: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.topic {
  margin: 4rem 1rem;
}
