.bypartofspeech {
  background: rgb(199, 144, 144);
}

.header {
  height: 5rem;
  background: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
