.header {
  background-color: #a09eff;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: black;
  text-decoration: none;
}

.header img {
  width: 200px;
  height: 100px;
}
