.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, white, var(--blush));
}

h1 {
  font-size: 7rem;
  line-height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.blobname {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
