.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}

.nav ul li .active {
  color: black;
  text-decoration: underline;
}

.nav ul li a:hover {
  text-decoration: underline;
}
