.header {
  height: 5rem;
  background: var(--gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.topics_container {
  display: flex;
  justify-content: center;
  background-color: var(--gray-pale);
}

.topics {
  margin: 4rem 0;
  width: 1000px;
}
