.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

.topic {
  padding: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--mint), var(--blush));
}

.topic:last-child {
  background: linear-gradient(var(--purple), var(--blush));
}

.topics {
  width: 800px;
}
