.blob {
  height: 7rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 50%;
  transition: 0.6s ease-out;
}

.blob:nth-child(5n + 1) {
  background-color: var(--coral);
  border-radius: 62% 38% 56% 44% / 30% 30% 70% 70%;
}
.blob:nth-child(5n + 1):hover {
  background-color: var(--yellow);
  border-radius: 31% 69% 53% 47% / 35% 44% 56% 65%;
}

.blob:nth-child(5n + 2) {
  background-color: var(--mint);
  border-radius: 82% 18% 68% 32% / 34% 23% 77% 66%;
}
.blob:nth-child(5n + 2):hover {
  background-color: var(--pink);
  border-radius: 52% 48% 45% 55% / 24% 38% 62% 76%;
}

.blob:nth-child(5n + 3) {
  background-color: var(--purple);
  border-radius: 52% 48% 61% 39% / 53% 35% 65% 47%;
}
.blob:nth-child(5n + 3):hover {
  background-color: var(--coral);
  border-radius: 45% 55% 61% 39% / 61% 53% 47% 39%;
}

.blob:nth-child(5n + 4) {
  background-color: var(--yellow);
  border-radius: 39% 61% 34% 66% / 33% 43% 57% 67%;
}
.blob:nth-child(5n + 4):hover {
  background-color: var(--mint);
  border-radius: 44% 56% 43% 57% / 42% 33% 67% 58%;
}

.blob:nth-child(5n + 5) {
  background-color: var(--pink);
  border-radius: 37% 63% 36% 64% / 53% 25% 75% 47%;
}
.blob:nth-child(5n + 5):hover {
  background-color: var(--purple);
  border-radius: 30% 70% 49% 51% / 42% 38% 62% 58%;
}

.blob a {
  color: inherit;
}

.blob h3 {
  font-size: 1.5rem;
}
