.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: black;
  padding: 1.5rem 1.2rem;
  text-decoration: none;
  transition: all 0.4s;
  height: 100%;
}

.nav ul li .active {
  color: black;
  text-decoration: underline;
}

.nav ul li a:hover {
  background-color: var(--mint);
}

.user_action span {
  color: white;
}
