.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bread {
  width: 900px;
}

.about {
  width: 900px;
  background: linear-gradient(to bottom, var(--blush), var(--mint));
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 3rem 5rem 4rem;
  margin: 1rem;
}

.about h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 2rem;
}

.about h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.about p {
  font-size: 1.2rem;
}

.about p:last-child {
  margin: 2rem 0 0;
  text-align: center;
}

.about a {
  color: inherit;
}

.name_blobs {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
