:root {
  --purple: #a09eff;
  --yellow: #fcff79;
  --blush: #ffe4e4;
  --mint: #bce8d3;
  --green: #d1ff50;
  --coral: #ff9797;
  --very-dark-gray: #505050;
  --dark-gray: #6f6f6f;
  --mid-gray: #d4d4d4;
  --light-gray: #e7e7e7;
  --pale-gray: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
