:root {
  --purple: #a09eff;
  --yellow: #fcff79;
  --blush: #ffe4e4;
  --mint: #bce8d3;
  --green: #d1ff50;
  --coral: #ff9797;
  --gray-very-dark: #505050;
  --gray-dark: #6f6f6f;
  --gray-mid: #d4d4d4;
  --gray-light: #e7e7e7;
  --gray-pale: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
